<ion-view view-title="Select Lights">
  <ion-nav-buttons side="right">
  <button class="button" ng-hide="lights != undefined" ng-click="setLights()" ui-sref="tab.moods-add-effects">Select Hue/Brightness</button>
  <button class="button" ng-show="lights != undefined" ng-click="setLights()">Save</button>
  </ion-nav-buttons>
  <ion-content>
	<ion-list>
		<ion-item class="item-divider" ng-repeat-start="room in rooms">
			{{room.name}}
		</ion-item>
		<li class="item item-checkbox" ng-class="getCheckboxClass(light.id)" ng-repeat="light in getRoom(room.id)" ng-repeat-end>
			<label class="checkbox">
				<input ng-model="selected[light.id]" type="checkbox"/>
			</label>
			{{light.name}}
		</li>
	</ion-list>
		
  </ion-content>
</ion-view>
