<ion-view view-title="Set Hue/Brightness">
  <ion-nav-buttons side="right">
  <button ng-click="saveMood()" class="button"">Save</button>
  </ion-nav-buttons>
  <ion-content>
	<ion-list>
		<light light="light" ng-repeat-start="light in lights"></light>
		<button ng-click="removeLightEffect($index)" class="button icon-right ion-minus button-full" ng-repeat-end>Remove Color</button>
		<button ng-click="addLightEffect()" class="icon-right ion-plus button button-full">Add More Colors</button>
	</ion-list>
  </ion-content>
</ion-view>
