<ion-view view-title="{{title}}">
  <ion-nav-buttons side="right">
  <button class="button" ng-hide="title === 'Edit Mood'" ng-click="saveMood()" ui-sref="tab.moods-add-effects">Select Lights</button>
  <button class="button" ng-show="title === 'Edit Mood'" ng-click="saveMood()"> Save </button>
  </ion-nav-buttons>
  <ion-content>
		<ion-list>
		<div class="card">
		<label class="item-input">
			<input type="text" value="{{mood.name}}" id="mood-name" placeholder="Name...">
		</label>
		</div>
		<div class="card">
		<ion-toggle ng-model="mood.time.timeSet">Time Interval</ion-toggle>
		<div  ng-show="mood.time.timeSet">
			<time-picker time="mood.time"></time-picker>
		</div>
		</div>
		<div class="card" ng-show="mood.time.timeSet">
			<ion-list>
			<ion-item> Choose Room Context:</ion-item>
			<ion-item class="item-icon-left" ng-class="{'item-positive':mood.time.roomID == -1}" ng-click="setRoomID(-1)"><i class="icon ion-home"></i>House</ion-item>
			<ion-item ng-class="{'item-positive':mood.time.roomID == room.id}" ng-click="setRoomID(room.id)" ng-repeat="room in rooms">
				{{room.name}}
			</ion-item>
			</ion-list>
		</div>	
		</ion-list>
  </ion-content>
</ion-view>
